<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Stylish Portfolio Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="app.component.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/71cbf0c199.js" crossorigin="anonymous"></script>
  </head>

  <body>

    <!-- Side Menu -->
    <mat-drawer-container>
    <mat-drawer #drawer class="sidebar-wrapper" mode="side" [opened]="menuState === 'in'" [@slideInOut]="menuState">
      <ul class="sidebar-nav">
          <h2 style = "color: white; padding-left: 20px;">Menu</h2>
          <li><a href="#top">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#services">Websites</a></li>
          <li><a href="#portfolio">Portfolio</a></li>
          <li><a href="#contact">Contact</a></li>
      </ul>
    </mat-drawer>
  </mat-drawer-container>

    
    <button id="menu-toggle" class="sidebar-btn" mat-button (click)="toggleAnimation()"><img src="../assets/images/hamburger.png" style="height: 40px; width: 40px;"></button>
    
    <!-- /Side Menu -->
  
    <!-- Full Page Image Header Area -->
    <div id="top" class="header">
      <div class="vert-text">
        <h1>Summer 2024 DAS Internship</h1>
        <h3><em>Everything</em> I learned, <em>all</em> in one place.</h3>

        <a href="#about" class="btn btn-default btn-lg">Check it out</a>
      </div>
    </div>
    <!-- /Full Page Image Header Area -->
  
    <!-- Intro -->
    <div #about id="about" class="intro">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <h2>Summer of 2024, I got my first internship as a software delveloper!</h2>
            <p class="lead">I was learning about and supporting the project Acoustc Instructor Console (AIC), where I learned all about DevOps and the specific tools they use at <a target="_blank" style="color:black" href="https://www.d-a-s.com/">DAS</a>.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- /Intro -->
  
    <!-- Services -->
    <div id="services" class="services">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-md-offset-4 text-center">
            <h2>Websites Used</h2>
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 col-md-offset-2 text-center">
            <div class="service-item">
              <a href="https://www.atlassian.com/software/jira?&aceid=&adposition=&adgroup=136973859330&campaign=18440774103&creative=697047728042&device=c&keyword=jira%20software&matchtype=e&network=g&placement=&ds_kids=p73335831615&ds_e=GOOGLE&ds_eid=700000001558501&ds_e1=GOOGLE&gad_source=1&gclid=Cj0KCQjwkdO0BhDxARIsANkNcrfscT3z3Qn4bznBOysPyajKmxnbL6SSpmsa8a9GGrkA_6YjYdlEOm4aAudkEALw_wcB&gclsrc=aw.ds"><i class="jira-service-icon"></i></a>
              <h4>Jira</h4>
              <p>Used to track, estimate, and report tickets for sprints. Jira is extremely common in Agile development, but the estimates and sprints themselves can be different based on teams. </p>
            </div>
          </div>
          <div class="col-md-2 text-center">
            <div class="service-item">
              <a href = "https://about.gitlab.com"><i class="gitlab-service-icon"></i></a>
              <h4>GitLab</h4>
              <p>GitLab is essential to team-based CI/CD, it allows devs to track changes on a project, create their own branches, and get the latest version of a project. </p>
            </div>
          </div>
          <div class="col-md-2 text-center">
            <div class="service-item">
              <a href ="https://mattermost.com/about-us/"><i class="mattermost-service-icon"></i></a>
              <h4>Mattermost</h4>
              <p>This is the main source of communication for the team. Since the project is splt between different sites, the best way to discuss projects and prompt code reviews.</p>
            </div>
          </div>
          <div class="col-md-2 text-center">
            <div class="service-item">
              <a href = "https://www.atlassian.com/software/confluence?&aceid=&adposition=&adgroup=138055852501&campaign=18312196225&creative=656429477701&device=c&keyword=atlassian%20confluence&matchtype=e&network=g&placement=&ds_kids=p72969649868&ds_e=GOOGLE&ds_eid=700000001542923&ds_e1=GOOGLE&gad_source=1&gclid=Cj0KCQjwkdO0BhDxARIsANkNcrcAKtgV0ry1MAZmscieVqUnXqwxfEX7Umk3JlDINqIzVSnnxa6nGg8aAkXKEALw_wcB&gclsrc=aw.ds"><i class="confluence-service-icon"></i></a>
              <h4>Confluence</h4>
              <p>The documentation database for NWSCCD. This is where help sites, diagrams, and meeting notes are held. There are pages for each of the individual prjects and person. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Services -->

    <!-- Callout -->
    <div class="callout">
      <div class="vert-text">
        <h1>...and so much more!</h1>
      </div>
    </div>
    <!-- /Callout -->

    <!-- Portfolio -->
    <div id="portfolio" class="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-md-offset-4 text-center">
            <h2>My Work</h2>
            <hr style="border-color:black">
          </div>
        </div>
         <div class="row">
          <div class="col-md-4 col-md-offset-2 text-center">
            <mat-form-field class="portfolio-dropdown"> 
              <mat-label>Tickets</mat-label>
              <mat-select name="ticket" [(value)]="selectedTicket">
                <mat-option>--</mat-option>
                   @for (ticket of tickets; track ticket){
                  <mat-option [value]="ticket" >{{ticket}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div *ngIf="selectedTicket === 'APARMS Front-End'" class="portfolio-container"> 
          <div>
            <h3>APARMS Front-End (with Marcus)</h3>
            <img class="img-portfolio" style="float:left" src="../assets/images/APARMSfe.png"/>
          </div>
          <div style="float:right"> 
            <h4>Description</h4> 
            <hr >
              This was the first ticket that Marcus and I did together. The purpose of this was to create and design the front-end toggle for the APARMS (Acoustic Parameters) layers.
              Since there was no database, configuration, and implementation for the layers, there was no wiring to the backend. The goal of this task was to provide a visual for how the layers will be toggled.
            <hr style="visibility: hidden;">
            <h4>Process</h4>
            <hr>
              The first thing we did was find where CTDA (Combat Tactical Decision Aid), another group who shares code, kept their implementation for the APARMS layers.
              We then used that information to create an enum of the available APARMS and had the dropdown menu loop through that when it was displayed. This helped make the layers configuareable in the future. 
            <hr style="visibility: hidden;">
            <h4>What I learned</h4>
              <hr>
              Since this was our first exposure to DevOps and the shared code between CTDA and AIC, I learned a lot about the general processes for development, such as: tracking progress in Jira,
              how code is shared between projects, how to naviagte the shared code, tracking updates with changelogs and version numbers, getting approvals from code-owners and other devs.               
              This was also my first time coding in Angular, so I was exposed to the many features, such as: front and back-end connections, *ngFor and *ngIf, Angular materials to make styling easier.
          </div>
        </div>
        <div *ngIf="selectedTicket === 'IDL Select Box Bug'" class="portfolio-container"> 
          <div>
            <h3>International Date Line Multi-Select Box Bug (with Marcus)</h3>
            <hr style="visibility: hidden;">
            <h4>Before: </h4> 
            <img class="img-portfolio" style="width:400px; height: 300px;" src="../assets/images/IDLBug.png"/>
            <hr style="visibility: hidden;">
            <h4>After: </h4>    
            <img class="img-portfolio" style="width:400px;height:300px;" src="../assets/images/IDLFix.png"/>
          </div>
          <div style="float:right"> 
            <h4>Description</h4> 
            <hr>
              This was the second ticket that Marcus and I did together. The purpose of this was to fix a bug that wrapped the selection box around the globe instead of crossing the IDL. 
              IDL issues are very common in Cesium (the globe renderer) because there is a seam in the globe that allows the user to switch between 2D and 3D. 
            <hr style="visibility: hidden;">
            <h4>Process</h4>
            <hr>
              The first thing we did was find where the mouse actions were stored, and what was causing the issue. Cesium was rendering the rectangle with the exact coordinates, without considering the shortest route.  
              To fix this we tracked the exact conditions where the box would cross the IDL, and swapped the east and west boundaries. We also made sure that this did not break across the prime meridian, since they had similar cases. 
            <hr style="visibility: hidden;">
            <h4>What I learned</h4>
              <hr>
              For this ticket, I learned about the built-in Cesium libraries that made it eay to render polygons and layers on the Cesium map. From reasearching similar issues, I found that there was no way to fix the small pixel jump
              at the IDL, since it is an issue with Cesium, and we cannot work around it. This also applies to the entity icons and smaller selection boxes around them. 
          </div>
        </div>
        <div *ngIf="selectedTicket === 'Bottom Contours GUI'" class="portfolio-container"> 
          <div>
            <h3>Bottom Contours GUI Redesign</h3>
            <hr style="visibility: hidden;">
            <img class="img-portfolio"  src="../assets/images/BCupdate3.png"/>
          </div>
          <div style="float:right"> 
            <h4>Description</h4> 
            <hr>
              This was the first ticket I did on my own. The goal was to make this section of the chart overlays panel more clear that it controlled one layer, and make it possible to have 
              both readouts toggled at once. I got a lot of feeback on this ticket, and the final product ended up to be very similar to my initial design. 
            <hr style="visibility: hidden;">
            <h4>Process</h4>
            <hr>
              The first thing I did was put the readouts under an expanded dropdown for the specific bottom contours. While this took up more room, thought it was more intuitive
              since multiple contours can be selected. My PR got some feedback that I should not have expanded the dropdown to match the overall design, and that I should also change the radio buttons to be
              checkboxes.  
            <hr style="visibility: hidden;">
            <h4>What I learned</h4>
              <hr>
              For this ticket, I learned a little more about how CSS and HTML are connected. The style used for all of the rows is a "denseFormFieldRow" from an SCSS. At first, I deleted this class
              and favored a larger design, but since it didn't match, I changed it back.  (or rather... Kyle did)
          </div>
        </div>
        <div *ngIf="selectedTicket === 'APARMS Refactor'" class="portfolio-container"> 
          <div>
            <h3>APARMS Front-End and Config Refactor</h3>
            <hr style="visibility: hidden;">
            <img class="img-portfolio"  src="../assets/images/aparmsRefector.png"/>
          </div>
          <div style="float:right"> 
            <h4>Description</h4> 
            <hr>
             This was a subtask on a larger ticket to display and complete the APARMS functionality. My task was to clarify the front-end to make wiring to the back-end more seamless. 
             This included adding tooltips to the dropdown options with the non-abbreviated name of the layer, and making the options configurable from a Drydock .yaml file. 
            <hr style="visibility: hidden;">
            <h4>Process</h4>
            <hr>
              The first thing I did was research and add the tooltips to the options, which required me to find the full names of the abbreviations from CTDA's code. Since they hadn't been configured yet, 
              I added a method with a switch case to handle which name was displayed in the tootltip. Then I worked with Bobby to configure the layers from Drydock and make it readable. 
            <hr style="visibility: hidden;">
            <h4>What I learned</h4>
              <hr>
              For this ticket, I learned a lot about how to navigate and edit with vim. There are many shortcuts to editing these files without needing to exit the terminal, 
              the only downside is learning all of the commands. This also introduced me to how the two repos are connected and how they interact with databases to get the layers. 
          </div>
        </div>
        <div *ngIf="selectedTicket === 'Detections Type Addition and Testing'" class="portfolio-container"> 
          <div>
            <h3>Detections Type Addition and Testing</h3>
            <hr style="visibility: hidden;">
            <img class="img-portfolio" src="../assets/images/probabilityOfDetectionTable.png">
          </div>
          <div style="float:right"> 
            <h4>Description</h4> 
            <hr>
             This was a subtask on a larger ticket to add a new field to the probability of detection features. The new detection type specifies if the reason for detection was from the line of sight,
             range, passive narrowband, passive narrowband transient, passive broadband, or passive transient. Each of these types specifies how the target was detected and what sensors were used. 
             This variable had to be added and transferred between the probability-of-detection-driver, the probability-of-detection-calculator, and the probability-of-detection-service pods to be fully implemented. 
            <hr style="visibility: hidden;">
            <h4>Process</h4>
            <hr>
              The first thing I did with Bradley was discuss what the new variable would be called, at the time both sensingMethod and detectionType existsed, so we decided on detectionCause. Once I put up my merge request
              one of the other developers asked what the difference was between the two variables. Turns out that sensingMethod and detectionType were the same thing, and I updated my merge request to refactor those variable names
              and changed detectionCause to detectionType. To test that the changes were parsed through all the files, I used kubernetes commands to track and increase logs to find the added field. 
            <hr style="visibility: hidden;">
            <h4>What I learned</h4>
              <hr>
              For this task, I learned a lot about how the pods interact with each other and how to use pods that were running. I ran into a big problem whan I needed to update my repos, the IDs did not 
              match up between the similation data creator and the driver pods. To fix this, I had to edit both the configmap in the driver pod and fix Node-Red, luckily I had help to figure this out. 
          </div>
        </div>
        <div *ngIf="selectedTicket === 'Freddies Migration (with Marcus)'" class="portfolio-container"> 
          <div>
            <h3>Freddies Migration (with Marcus)</h3>
            <hr style="visibility: hidden;">
            <img class="img-portfolio" src="../assets/images/freddies.png">
            <hr style="visibility: hidden;">
            <img class="img-portfolio" src="../assets/images/freddiesWorks.png">
          </div>
          <div style="float:right"> 
            <h4>Description</h4> 
            <hr>
             This was a huge ticket that mirgrated the Freddies layer functionality from CTDA. This included the file-manager and geodocument pods, and all of the overlays files. 
             This put the files into the layer-manager, where they could be displayed, deleted, and favorited. The files are manually uploaded into the file-manager using curl commands
             where they are then sent to geodocument manager where they are converted into data that can be displayed on the geo. 
            <hr style="visibility: hidden;">
            <h4>Process</h4>
            <hr>
              The first thing I helped with investigating where AIC displays their layers and how they ae toggled. We learned that it was from an mqtt subscription to databases, that was toggled from the front end. 
              The files were directly uploaded to a file-manager pod, which connected to the geodocument manager to create the readable data, and then it was toggled from layer-manger in the geo. Marcus migrated all
              of these files from CTDA to Trainer, and I helped test that everything worked as expected and clean up code. 
            <hr style="visibility: hidden;">
            <h4>What I learned</h4>
              <hr>
              For this task, I learned a lot about mqtt subscriptions and how the pods interact with the geo. It was interesting to see how CTDA implemented their layers and how we used their code to source some of the back-end for the layers. 
              This ticket was the hardest to test since I had to create a new image and run it in the cluster to get it working. This tiecket took a very long time since a lot of files were migrated and we had to have CTDA test and approve the migration. 
          </div>
        </div>
       </div>
    </div>
    <!-- /Portfolio -->

    <!-- Call to Action -->
    <div class="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-md-offset-4 text-center">
            <h2>DevOps Tools</h2>
            <hr>
          </div>
          </div>
            <p-carousel 
            [value]="devOpsTools"
            [numVisible]="1" 
            [numScroll]="1" 
            [circular]="true" 
            [responsiveOptions]="responsiveOptions" 
            autoplayInterval="6000">
                <ng-template let-tool pTemplate="item">
                        <div class="border-1 surface-border border-round m-2 p-3">
                            <div class="mb-3">
                                <div class="relative mx-auto">
                                    <img 
                                        src="assets/images/{{ tool }}.png"
                                        [alt]="tool" 
                                        class="w-full border-round" />
                                </div>
                            </div>
                        </div>
                </ng-template>
        </p-carousel>
        
          </div>
        </div>
    <!-- /Call to Action -->

     <!-- Callout -->
     <div class="callout">
      <div class="vert-text">
        <h1> Now for some feedback!</h1>
      </div>
    </div>
    <!-- /Callout -->

    <!-- Feedback -->
    <div class="charts">
      <div class="row">
        <div class="col-md-4 col-md-offset-4 text-center">
          <h2>Overall Feedback</h2> 
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="container">
          <div class="feedback-container">
            <div class="text-center" style="float:left;">
              <h3> Positive </h3>
              <hr>
              <mat-accordion>
              <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title> Being on a development team </mat-panel-title>
                </mat-expansion-panel-header>
                <p>I thought this was a fantastic expereience that showed what it was like to work in the industry. </p>
              </mat-expansion-panel>
              <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title> Having an office and sharing it</mat-panel-title>
                </mat-expansion-panel-header>
                <p>It was really nice to have a desk with a monitor, mouse, and keyboard. It was also great to bounce ideas off Marcus. </p>
              </mat-expansion-panel>
              <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title> Schedule flexibility </mat-panel-title>
                </mat-expansion-panel-header>
                <p>It was aweomse to be able to have my own start and end times and work part time. Especially during the summer. </p>
              </mat-expansion-panel>
              <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title> Access to Confluence </mat-panel-title>
                </mat-expansion-panel-header>
                <p>It was really helpful to see the documentation for the different projects. I found information on repos, specific commands, and notes. </p>
              </mat-expansion-panel>
              <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title> Bobby and Bradley (specifically) </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Thank you for answering all of my non-stop questions on Mattermost. </p>
              </mat-expansion-panel>
            </mat-accordion>
            </div>
            <div class="text-center" style="float:right"> 
              <h3> Constructive </h3>
              <hr>
              <mat-accordion>
              <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title> Windows :( </mat-panel-title>
                </mat-expansion-panel-header>
                <p>This can be fixed with more office foliage. </p>
              </mat-expansion-panel>
              <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title> Ticket schedule </mat-panel-title>
                </mat-expansion-panel-header>
                <p> I sometimes found that I was waiting to be given work. </p>
              </mat-expansion-panel>
              <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title> Going to Carderock </mat-panel-title>
                </mat-expansion-panel-header>
                <p> It would've been nice to meet feature tream 2. </p>
              </mat-expansion-panel>
            </mat-accordion>
            </div>
        </div>
      </div>
    </div>
  </div>

    <!-- Map -->
    <div id="contact" class="map">
      <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" 
        src="https://maps.google.com/maps?q=7925+Jones+Branch+Dr,+McLean,+VA&amp;output=embed"></iframe>
      <br />
    </div>
    <!-- /Map -->

    <!-- Callout -->
    <div class="callout">
      <div class="vert-text">
        <h1> Thank you! </h1>
      </div>
    </div>
    <!-- /Callout -->
    
    <!-- Footer -->
    <footer>
      <div class="container" style="background:white;padding:10px">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <ul class="list-inline">
              <li><img src="assets/images/insta.png"></li>
              <li><img src="assets/images/github.png"></li>
              <li><img src="assets/images/twitter.png"></li>
            </ul>
            <hr>
            <p>Copyrighted if I could afford it... &copy; Julia Gardiner 2024</p>
          </div>
        </div>
      </div>
    </footer>
    <!-- /Footer -->

    </body>

</html>

<router-outlet />
